<%- include("layout/header.ejs") %>

  <%- include("layout/nav.ejs") %>

<center>
  <br>
  <br>
  <br>
  <br>
<h2 style="color: brown; font-size: 80px;">No Page Found</h2>
</center>


    <%- include("layout/footer.ejs") %>