<div class="ui container">
  <div class="ui menu">
    <div class="header item">
      <a href="/">
        Home
      </a>
    </div>
    <a href="/contact" class="item">
      Contact Us
    </a>
    <a href="/about" class="item">
      About
    </a>

  </div>
</div>